{% extends 'main/base.html' %}

{% block title %}
  About | LAGO
{% endblock %}

{% block head %}
{% endblock %}

{% block previous %}
    <a href=".." class="active"><b>LAGO</b></a>
{% endblock %}

{% block body %}
<div class="container-about">
    <div class="header">
        <h1 style="font-size:40px;font-family:'Inter', sans-serif;"><b><b>LAGO</b></b> Team</h1>
        <h1 style="font-size:16px;font-family:'Inter', sans-serif;" class="desig">Software Design Adviser: Dr. Jonathan V. Taylar</h1>
    </div>
    <div class="sub-container">
        <div class="teams">
            <img src="https://scontent.fmnl30-2.fna.fbcdn.net/v/t1.15752-9/252305032_213199720812592_6303548571067321828_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeG8U4PYTjEY04AW0cDrn9Ki-qRi0y97NRv6pGLTL3s1G8q1uW1aayEwad3DFyFtScuyJeAzz3B2TzLHjcN6VtWw&_nc_ohc=wkHMZwsJn8IAX9HHZWa&_nc_ht=scontent.fmnl30-2.fna&oh=03_AdRbtl6260bkXXbGpCxMVraNrrwEU_cwGfDFmIY5Vhk6Jw&oe=637EA6DA" alt="">
            <div class="name">John Ryan Montecalvo</div>
            <div class="desig">System Administrator</div>
            <div class="about">4th year Computer Engineering student from 
                Technological Institute of the Philippines
                </div>

            <div class="social-links">
               <a href="https://www.facebook.com/rayan.wayaaan/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://github.com/RyanMontecalvo" target="_blank"><i class="fa fa-github"></i></a>
            </div> 
        </div>

        <div class="teams">
            <img src="https://scontent.fmnl30-2.fna.fbcdn.net/v/t1.15752-9/312643460_630140278804908_162675394086789589_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeEbktgw_6887MAN_6peENeUqUlYorso3l2pSViiuyjeXRvIIRWhLH5p90L4d1rEjzHzLEwFJSK7ztWWPXn2EzYT&_nc_ohc=002IIWWTH-0AX_11IYg&_nc_ht=scontent.fmnl30-2.fna&oh=03_AdRrm3ryOjnCSQ2SZksg8cVBl-c-pKg6AHyEgEdBbrMBNQ&oe=6380369A" alt="">
            <div class="name">John Patrick Navas </div>
            <div class="desig">System Administrator</div>
            <div class="about">4th year Computer Engineering student from 
                Technological Institute of the Philippines
                </div>

            <div class="social-links">
                <a href="https://www.facebook.com/PtrckNvs/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://github.com/qjpjnavas" target="_blank"><i class="fa fa-github"></i></a>
            </div>
        </div>

        <div class="teams">
            <img src="https://scontent.fmnl30-1.fna.fbcdn.net/v/t1.15752-9/309929612_601885921693979_5242586902681743438_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeGBetvDS9OPQAEdJZFWbVGR6m6tGE2g72Hqbq0YTaDvYQQVf-a4FJHtxpOI5snKajG-bmvWhw-2QIK3erAz_yko&_nc_ohc=4f-B6rQR-wQAX8_8UOP&_nc_ht=scontent.fmnl30-1.fna&oh=03_AdQ1MUtw4VlBQgOI63T89Iik-5RXWbXyJy49rI0VOdSKZA&oe=637F3A83" alt="">
            <div class="name">Donald Jardiolin </div>
            <div class="desig">System Administrator</div>
            <div class="about">4th year Computer Engineering student from 
                Technological Institute of the Philippines
                </div>

            <div class="social-links">
                <a href="https://www.facebook.com/DnldJrdln/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://github.com/Jardiolin" target="_blank"><i class="fa fa-github"></i></a>

              </div>
          </div> 
          
          <div class="teams">
                  <img src="https://scontent.fmnl30-1.fna.fbcdn.net/v/t1.15752-9/310434552_1593709787754033_1779857012237607987_n.png?_nc_cat=107&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeHD6JaVplPYOA9qIF7wVXIjVoYIJhpsXoNWhggmGmxeg6NNNA_wSDMLJQofzJKmMs3Ot9KNe-WGnUEBUCocXPrz&_nc_ohc=cenWz_4Vj_oAX8jRCyB&_nc_ht=scontent.fmnl30-1.fna&oh=03_AdSJUsxX1JKzQpjzlYD1Wg1fAferWDNleV73G_AZzmb4YA&oe=637D3602" alt="">
                  <div class="name">Raymond Esblaca </div>
                  <div class="desig">System Administrator</div>
                  <div class="about">4th year Computer Engineering student from 
                    Technological Institute of the Philippines
                    </div>
    
                  <div class="social-links">
                      <a href="https://www.facebook.com/ramonsnl" target="_blank"><i class="fa fa-facebook"></i></a>
                      <a href="https://github.com/qrpesblaca-cpe" target="_blank"><i class="fa fa-github"></i></a>
                  </div>
              </div>
          <div class="teams">
                  <img src="https://scontent.fmnl30-1.fna.fbcdn.net/v/t1.15752-9/312144088_5298486803596856_5169463069740450419_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeGWILO3H_0RX5REp4_36aBVJkkcZYlg05QmSRxliWDTlDK0fd_KxNbxpQE9xolZOD0sMU9x3QS1xcCg2V1wYBmg&_nc_ohc=jDCL0jotA4sAX8xv7qo&tn=O0v_un-zaoXCMmX8&_nc_ht=scontent.fmnl30-1.fna&oh=03_AdTkqWXCd87nIZMSqolRCmCfHF4Lva5U29Pp8vg6Y2lGcg&oe=637EB86A" alt="">
                  <div class="name">Kiana Mikaella Reyes </div>
                  <div class="desig">Data Science</div>
                  <div class="about">4th year Computer Engineering student from 
                    Technological Institute of the Philippines
                    </div>
    
                  <div class="social-links">
                      <a href="https://www.facebook.com/kiana.reyes2" target="_blank"><i class="fa fa-facebook"></i></a>
                      <a href="https://github.com/KianaReyes1" target="_blank"><i class="fa fa-github"></i></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}