{% extends 'main/base.html' %}

{% block title %}
  Home | LAGO
{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
  <div class="row">
    <div class="col">
      <br><br><br><p style="font-size:70px;font-family:'Inter', sans-serif;text-indent: 60px"><b><b>Lab Manual</b></b></p>
      <p style="font-size:70px;font-family:'Inter', sans-serif;text-indent: 60px;"><b><b>Maker</b></b></p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="btnwarning btn-xl" type="button" style="font-size:27px" onclick = "location.href='/home/insert'">Create a Laboratory Manual</button>
      <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="btn btn-secondary btn-xl" type="button" style="font-size:27px" onclick = "location.href='/home/view'">Open an Existing Manual</button>
    </div>
  </div>
{% endblock %}
