{% extends 'main/base.html' %}

{% block title %}
  Create Lab Manual | LAGO
{% endblock %}

{% block head %}
{% endblock %}

{% block previous %}
  <a href=".." class="active"><b>LAGO</b></a>
{% endblock %}

{% block body %}
  {% load crispy_forms_tags %}  
          
  <div class="container">

    <!--Django Model Form-->
    <h2 class="my-4">Add a new Laboratory Manual</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ labmanual_form.media }}
      {{ labmanual_form|crispy }}
      <button class="btnwarning my-4" type="submit">Submit</button>
    </form>

  </div>
{% endblock %}
