{% extends 'main/base.html' %}

{% block title %}
  View Lab Manual | LAGO
{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
  <!--sign out modal-->
  <div id="id01" class="modal">
    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal"></span>
    <form class="modal-content border-0" action="/signout">
        <div class="container_signout">
          <h1>Sign Out</h1>
          <p>Are you sure you want to sign out?</p>
          
          <div class="clearfix">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
            <button class=btnwarning>Sign Out </button>
          </div>
        </div>
    </form>
  </div>
  <h1>View existing laboratory manuals</h1>

  <!--display created lab manual-->
  {% for lab in labmanual_list %}
  <div class="">
    <button class=button>{{ lab }} </button>
  </div>
  {% endfor %}
{% endblock %}

{% block footer %}
{% endblock %}